In [1]:
import numpy as np
import pandas as pd
import os

os.chdir('../')

In [86]:
# Importing all datasets

price=pd.read_csv('datasets ready to merge/price.csv')
complaints_311=pd.read_csv('datasets ready to merge/311_merge_ready.csv')
rodent=pd.read_csv('datasets ready to merge/rodent.csv')
crime=pd.read_csv('datasets ready to merge/Crime.csv')
air_quality=pd.read_csv('datasets ready to merge/airquality.csv')

In [87]:
price.drop(labels='Unnamed: 0',axis=1,inplace=True)
complaints_311.drop(labels='Unnamed: 0',axis=1,inplace=True)
rodent.drop(labels='Unnamed: 0',axis=1,inplace=True)
crime.drop(labels='Unnamed: 0',axis=1,inplace=True)
air_quality.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [88]:
def borough_classifier(borough):
    if borough==1:
        return 'manhattan'
    elif borough==2:
        return 'bronx'
    elif borough==3:
        return 'brooklyn'
    elif borough==4:
        return 'queens'
    elif borough==5:
        return 'staten island'

In [89]:
price['BOROUGH']=price['BOROUGH'].apply(borough_classifier)
crime['BORO_NM']=crime['BORO_NM'].str.lower()
air_quality['BOROUGH']=air_quality['Borough'].str.lower()

In [90]:
price.dropna(inplace=True)
complaints_311.dropna(inplace=True)
price['BOROUGH']

0             manhattan
1                 bronx
2                 bronx
3                 bronx
4                 bronx
              ...
337140    staten island
337141    staten island
337142    staten island
337143    staten island
337144    staten island
Name: BOROUGH, Length: 324791, dtype: object

In [91]:
rodent.columns

Index(['Year', 'Month', 'ZIP_CODE', 'RESULT', 'Approval_Delay'], dtype='object')

In [92]:
merged_1=price.merge(complaints_311,how='left',left_on=['Year','Month','ZIP CODE'],right_on=['Year','Month','Incident Zip'])
merged_1.dropna(inplace=True)

In [93]:
merged_2=merged_1.merge(rodent,how='left',left_on=['Year','Month','ZIP CODE'],right_on=['Year','Month','ZIP_CODE'])
merged_2.dropna(inplace=True)

In [94]:
air_quality.head()

     Year        Borough  Data Value        BOROUGH
0  2005.0          Bronx   52.676135          bronx
1  2005.0       Brooklyn   37.804092       brooklyn
2  2005.0      Manhattan   54.910514      manhattan
3  2005.0  New York City   37.886999  new york city
4  2005.0         Queens   29.790713         queens

In [95]:
merged_3=merged_2.merge(crime,how='left',left_on=['Year','Month','BOROUGH'],right_on=['Year', 'Month', 'BORO_NM'])

In [96]:
data=merged_3.merge(air_quality,how='left',left_on=['Year','BOROUGH'],right_on=['Year', 'BOROUGH'])

In [98]:
data.to_csv('modelling_data.csv')